# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
/test.sh

wiringPi
/cgimage.cpp
/build-webradio_gui-Desktop_Qt_5_4_0_MinGW_32bit-Debug
/LCD-show-150602.tar.gz
/images/Sicherungskopie_von_logo1_480.png
/lcms2-2.1.zip
*.FCStd1
*.FCStd2
*.FCStd3
*.FCStd1
*.FCStd2
/electronics/*.bak
/electronics/*.bck
/electronics/amplifier/*.bak
/electronics/amplifier/*.bck
*.bak
*.bck
/housing/Sicherungskopie_von_kitchenradio_buttons.cdr
